.bar{

    float: left;
    background-color: blue;
    width: 10px;
    height: 10px;
    display: inline-block;
  }

.bar-container{
    position: absolute;
    left: 100px;
    width: 200px;
    height: 200px;
    border: 2px;
}